{
  "moduleCode" : "${moduleCode}",
  "moduleName" : "${moduleName}",
  "moduleDescription" : "${moduleDescription}",
  "connectionCode" : "${connectionCode}",
  "targetSchema" : "cdrdb",
  "targetTable" : "public.pa_op_registration",
  "modulePriority" : 1,
  "moduleCategory" : "DIM",
  "etlType" : 1,
  "enabled" : 1,
  "fullWhileMonths" : 0,
  "rangeStartDate" : 0,
  "rangeEndDate" : 0,
  "topicId" : null,
  "engineId" : null,
  "jobId" : 96,
  "hospitalName" : "t-001",
  "createdAt" : 1591926533000,
  "updatedAt" : 1591926574000,
  "numberRange" : null,
  "workflows" : [ {
    "loc" : "-61.91667819351716 -106.79039453455499",
    "runnable" : 1,
    "incrementalMode" : "union",
    "color" : null,
    "targetSchema" : null,
    "targetTable" : null,
    "extraData" : {
      "connection" : {
        "connectionCode" : "cdr_db",
        "url" : "jdbc:pivotal:greenplum://192.168.0.113:5432;DatabaseName=cdrdb",
        "user" : "gpadmin",
        "password" : null,
        "engineId" : 10,
        "dataflowReader" : "greenplumreader",
        "dataflowWriter" : "greenplumcopywriter",
        "createdAt" : 1591926370058,
        "updatedAt" : 1575354316000
      },
      "targetConnection" : null,
      "sql" : {
        "select" : [ ],
        "where" : " 1 = 1 ",
        "incrementalWhere" : null,
        "rangeWhere" : null,
        "filter" : {
          "workflowTokenCode" : null,
          "commonFilterExpression" : " 1 = 1 ",
          "commonFilterExpressionCustomized" : " 1 = 1 ",
          "incrementalFilterExpression" : null,
          "incrementalFilterExpressionCustomized" : null,
          "rangeFilterExpression" : null,
          "rangeFilterExpressionCustomized" : null,
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926574000,
          "updatedAt" : 1591926574000
        },
        "from" : {
          "primaryTable" : null,
          "joinTables" : null
        }
      },
      "fullSql" : "truncate table public.pa_op_registration",
      "reader" : null,
      "writer" : null
    },
    "key" : "SqlTask",
    "text" : "sql执行器",
    "code" : "SqlTask_1",
    "sequenceCustomized" : 1,
    "paramDefine" : "",
    "componentCategory" : "normal",
    "parameterJson" : { },
    "desc" : "all",
    "flowType" : null
  }, {
    "loc" : "-49.65525444436318 -42.181183203313054",
    "runnable" : 1,
    "incrementalMode" : "union",
    "isGroup" : true,
    "color" : null,
    "targetSchema" : "cdrdb",
    "targetTable" : "public.pa_op_registration_import",
    "extraData" : {
      "connection" : {
        "connectionCode" : "oracle",
        "url" : "jdbc:oracle:thin:@192.168.0.114:1521/orcl",
        "user" : "jira",
        "password" : null,
        "engineId" : 5,
        "dataflowReader" : "oraclereader",
        "dataflowWriter" : "oraclewriter",
        "createdAt" : 1556005860000,
        "updatedAt" : 1556005860000
      },
      "targetConnection" : {
        "connectionCode" : "cdr_db",
        "url" : "jdbc:pivotal:greenplum://192.168.0.113:5432;DatabaseName=cdrdb",
        "user" : "gpadmin",
        "password" : "gpadmin",
        "engineId" : 10,
        "dataflowReader" : "greenplumreader",
        "dataflowWriter" : "greenplumcopywriter",
        "createdAt" : 1591926370058,
        "updatedAt" : 1575354316000
      },
      "sql" : {
        "select" : [ {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "acceptdeptcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "acceptdeptname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "accepteddate",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "acceptedphysiciancode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "acceptedphysicianname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "acceptkindcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "acceptkindname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.yyxh)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.yyxh)",
          "targetColumnAliasName" : "appointmentid",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "substr(br.birth, 1, 8)",
          "sourceColumnExpressionCustomized" : "substr(br.birth, 1, 8)",
          "targetColumnAliasName" : "birthday",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "bookingregsourcecode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "bookingregsourcename",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "cardkindcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "cardkindname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.cardno)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.cardno)",
          "targetColumnAliasName" : "cardno",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.jssjh)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.jssjh)",
          "targetColumnAliasName" : "chargeserialno",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "null",
          "sourceColumnExpressionCustomized" : "null",
          "targetColumnAliasName" : "currentage",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "date1",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "date2",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "'闸北区中心医院'",
          "sourceColumnExpressionCustomized" : "'闸北区中心医院'",
          "targetColumnAliasName" : "hospitalname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "'42504213400'",
          "sourceColumnExpressionCustomized" : "'42504213400'",
          "targetColumnAliasName" : "hospitalno",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(br.sfzh)",
          "sourceColumnExpressionCustomized" : "rtrim(br.sfzh)",
          "targetColumnAliasName" : "idcard",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "0",
          "sourceColumnExpressionCustomized" : "0",
          "targetColumnAliasName" : "isdeleted",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "SYSDATE",
          "sourceColumnExpressionCustomized" : "SYSDATE",
          "targetColumnAliasName" : "lastimportdttm",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "SYSDATE",
          "sourceColumnExpressionCustomized" : "SYSDATE",
          "targetColumnAliasName" : "lastupdatedttm",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "lastvisitnumber",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.blh)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.blh)",
          "targetColumnAliasName" : "medicalrecordno",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "num1",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "num2",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "parentregdeptcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "parentregdeptname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.patid)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.patid)",
          "targetColumnAliasName" : "patientid",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.hzxm)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.hzxm)",
          "targetColumnAliasName" : "patientname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "patientsource",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "recordstatuscode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "recordstatusname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "substr(gh.ghrq, 1, 8)",
          "sourceColumnExpressionCustomized" : "substr(gh.ghrq, 1, 8)",
          "targetColumnAliasName" : "regdate",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "regdatezone",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.ksdm)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.ksdm)",
          "targetColumnAliasName" : "regdeptcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.ksmc)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.ksmc)",
          "targetColumnAliasName" : "regdeptname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.ysdm)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.ysdm)",
          "targetColumnAliasName" : "regdoctorcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.ysmc)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.ysmc)",
          "targetColumnAliasName" : "regdoctorname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "gh.ghlb",
          "sourceColumnExpressionCustomized" : "gh.ghlb",
          "targetColumnAliasName" : "regkindcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "regkindname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "'gh_ghzdk'",
          "sourceColumnExpressionCustomized" : "'gh_ghzdk'",
          "targetColumnAliasName" : "resourcetable",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "'xh'",
          "sourceColumnExpressionCustomized" : "'xh'",
          "targetColumnAliasName" : "resourcetablekey",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.xh)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.xh)",
          "targetColumnAliasName" : "resourcetablekeyvalue",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "returnchargeserialno",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "CASE \n\tWHEN rtrim(gh.jlzt) = '1' THEN substr(gh.ghrq, 1, 8)\nEND",
          "sourceColumnExpressionCustomized" : "CASE \n\tWHEN rtrim(gh.jlzt) = '1' THEN substr(gh.ghrq, 1, 8)\nEND",
          "targetColumnAliasName" : "returnregdate",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "'1'",
          "sourceColumnExpressionCustomized" : "'1'",
          "targetColumnAliasName" : "settlekindcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "'已结算'",
          "sourceColumnExpressionCustomized" : "'已结算'",
          "targetColumnAliasName" : "settlekindname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "CASE \n\tWHEN rtrim(br.sex) = '男' THEN '1'\n\tWHEN rtrim(br.sex) = '女' THEN '2'\n\tELSE '9'\nEND",
          "sourceColumnExpressionCustomized" : "CASE \n\tWHEN rtrim(br.sex) = '男' THEN '1'\n\tWHEN rtrim(br.sex) = '女' THEN '2'\n\tELSE '9'\nEND",
          "targetColumnAliasName" : "sexcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "CASE \n\tWHEN rtrim(br.sex) = '男' THEN '男性'\n\tWHEN rtrim(br.sex) = '女' THEN '女性'\n\tELSE '未说明的性别'\nEND",
          "sourceColumnExpressionCustomized" : "CASE \n\tWHEN rtrim(br.sex) = '男' THEN '男性'\n\tWHEN rtrim(br.sex) = '女' THEN '女性'\n\tELSE '未说明的性别'\nEND",
          "targetColumnAliasName" : "sexname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "specialpatflag",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "specialtypeflag",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.czyh)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.czyh)",
          "targetColumnAliasName" : "staffcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "staffname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "str1",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "str2",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "str3",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "str4",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "str5",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "str6",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "triagecode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "triagename",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "visitflagcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "visitflaname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.xh)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.xh)",
          "targetColumnAliasName" : "visitnumber",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "visitnumberid",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "CASE \n\tWHEN rtrim(gh.cfzbz) = '1' THEN '2'\n\tELSE '0'\nEND",
          "sourceColumnExpressionCustomized" : "CASE \n\tWHEN rtrim(gh.cfzbz) = '1' THEN '2'\n\tELSE '0'\nEND",
          "targetColumnAliasName" : "visittype",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "ybaccountno",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(gh.ybdm)",
          "sourceColumnExpressionCustomized" : "rtrim(gh.ybdm)",
          "targetColumnAliasName" : "ybcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "ybkindcode",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "NULL",
          "sourceColumnExpressionCustomized" : "NULL",
          "targetColumnAliasName" : "ybkindname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        }, {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_SELECT_COLUMNS_DEFAULT",
          "sourceTableAliasName" : null,
          "sourceColumnName" : null,
          "sourceColumnExpressionDefault" : "rtrim(yb.ybsm)",
          "sourceColumnExpressionCustomized" : "rtrim(yb.ybsm)",
          "targetColumnAliasName" : "ybname",
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        } ],
        "where" : null,
        "incrementalWhere" : null,
        "rangeWhere" : null,
        "filter" : {
          "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_TABLES_DEFAULT",
          "commonFilterExpression" : null,
          "commonFilterExpressionCustomized" : null,
          "incrementalFilterExpression" : null,
          "incrementalFilterExpressionCustomized" : null,
          "rangeFilterExpression" : null,
          "rangeFilterExpressionCustomized" : null,
          "isEnable" : null,
          "isDefault" : null,
          "createdAt" : null,
          "updatedAt" : null
        },
        "from" : {
          "primaryTable" : {
            "id" : null,
            "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_TABLES_DEFAULT",
            "isPrimaryTable" : 1,
            "joinType" : null,
            "joinOnCurrentColumnName" : null,
            "joinOnRightTableAliasName" : null,
            "joinOnRightTableColumnName" : null,
            "joinOnExpression" : null,
            "isEnable" : 1,
            "isDefault" : 1,
            "incrementalColumn" : "",
            "createdAt" : 1591926575000,
            "updatedAt" : 1591926575000,
            "dbName" : "demo",
            "tableName" : null,
            "tableExpression" : "demo.gh_ghzdk",
            "tableAliasName" : "gh"
          },
          "joinTables" : [ {
            "id" : null,
            "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_TABLES_DEFAULT",
            "isPrimaryTable" : null,
            "joinType" : "INNER JOIN",
            "joinOnCurrentColumnName" : null,
            "joinOnRightTableAliasName" : null,
            "joinOnRightTableColumnName" : null,
            "joinOnExpression" : "gh.patid = br.patid",
            "isEnable" : 1,
            "isDefault" : 1,
            "incrementalColumn" : null,
            "createdAt" : 1591926575000,
            "updatedAt" : 1591926575000,
            "dbName" : "demo",
            "tableName" : "SF_BRXXK",
            "tableExpression" : "demo.SF_BRXXK",
            "tableAliasName" : "br"
          }, {
            "id" : null,
            "workflowTokenCode" : "ETL_DIM_public.pa_op_registration_t-001_1591926533179_DataXComponent_2_ETL_SOURCE_TABLES_DEFAULT",
            "isPrimaryTable" : null,
            "joinType" : "LEFT JOIN",
            "joinOnCurrentColumnName" : null,
            "joinOnRightTableAliasName" : null,
            "joinOnRightTableColumnName" : null,
            "joinOnExpression" : "gh.ybdm = yb.ybdm",
            "isEnable" : 1,
            "isDefault" : 1,
            "incrementalColumn" : null,
            "createdAt" : 1591926575000,
            "updatedAt" : 1591926575000,
            "dbName" : "demo",
            "tableName" : "YY_YBFLK",
            "tableExpression" : "demo.YY_YBFLK",
            "tableAliasName" : "yb"
          } ]
        }
      },
      "fullSql" : null,
      "reader" : {
        "id" : null,
        "dataflowCode" : "oraclereader",
        "dataflowName" : "oracle库读取",
        "dataflowType" : 1,
        "jdbcType" : 1,
        "dataflowParam" : "[{\"column\":\"fetchSize\",\"desc\":\"数据大小\",\"default\":\"1024\"}]",
        "parameter" : null
      },
      "writer" : {
        "id" : null,
        "dataflowCode" : "greenplumcopywriter",
        "dataflowName" : "greenplumcopy写入",
        "dataflowType" : 2,
        "jdbcType" : 1,
        "dataflowParam" : "[{\"column\":\"fetchSize\",\"desc\":\"数据大小\",\"default\":\"1024\"}]",
        "parameter" : null
      }
    },
    "key" : "DataXComponent",
    "text" : "配置输入输出",
    "code" : "DataXComponent_2",
    "sequenceCustomized" : 2,
    "paramDefine" : "[{\"column\":\"speed.channel\",\"desc\":\"通道数\",\"default\":\"1\"}]",
    "componentCategory" : "datax",
    "category" : "Group",
    "parameterJson" : { },
    "desc" : "all",
    "flowType" : null
  }, {
    "loc" : null,
    "runnable" : null,
    "incrementalMode" : "union",
    "group" : "DataXComponent",
    "color" : "lightgreen",
    "targetSchema" : null,
    "targetTable" : null,
    "extraData" : null,
    "key" : "DataXComponent_oraclereader",
    "text" : "oracle库读取",
    "code" : "DataXComponent_2",
    "sequenceCustomized" : null,
    "paramDefine" : "[{\"column\":\"speed.channel\",\"desc\":\"通道数\",\"default\":\"1\"}]",
    "componentCategory" : "datax",
    "category" : "GroupNode",
    "parameterJson" : null,
    "desc" : null,
    "flowType" : 1
  }, {
    "loc" : null,
    "runnable" : null,
    "incrementalMode" : "union",
    "group" : "DataXComponent",
    "color" : "pink",
    "targetSchema" : null,
    "targetTable" : null,
    "extraData" : null,
    "key" : "DataXComponent_greenplumcopywriter",
    "text" : "greenplumcopy写入",
    "code" : "DataXComponent_2",
    "sequenceCustomized" : null,
    "paramDefine" : "[{\"column\":\"speed.channel\",\"desc\":\"通道数\",\"default\":\"1\"}]",
    "componentCategory" : "datax",
    "category" : "GroupNode",
    "parameterJson" : null,
    "desc" : null,
    "flowType" : 2
  }, {
    "loc" : "-58.91667819351716 49.20960546544501",
    "runnable" : 1,
    "incrementalMode" : "union",
    "color" : null,
    "targetSchema" : "cdrdb",
    "targetTable" : null,
    "extraData" : {
      "connection" : {
        "connectionCode" : "cdr_db",
        "url" : "jdbc:pivotal:greenplum://192.168.0.113:5432;DatabaseName=cdrdb",
        "user" : "gpadmin",
        "password" : null,
        "engineId" : 10,
        "dataflowReader" : "greenplumreader",
        "dataflowWriter" : "greenplumcopywriter",
        "createdAt" : 1591926370058,
        "updatedAt" : 1575354316000
      },
      "targetConnection" : null,
      "sql" : {
        "select" : [ ],
        "where" : " 1 = 1 ",
        "incrementalWhere" : null,
        "rangeWhere" : null,
        "filter" : {
          "workflowTokenCode" : null,
          "commonFilterExpression" : " 1 = 1 ",
          "commonFilterExpressionCustomized" : " 1 = 1 ",
          "incrementalFilterExpression" : null,
          "incrementalFilterExpressionCustomized" : null,
          "rangeFilterExpression" : null,
          "rangeFilterExpressionCustomized" : null,
          "isEnable" : 1,
          "isDefault" : 1,
          "createdAt" : 1591926575000,
          "updatedAt" : 1591926575000
        },
        "from" : {
          "primaryTable" : null,
          "joinTables" : null
        }
      },
      "fullSql" : null,
      "reader" : null,
      "writer" : null
    },
    "key" : "Merge",
    "text" : "合并表",
    "code" : "Merge_3",
    "sequenceCustomized" : 3,
    "paramDefine" : "[{\"column\":\"sourceSchema\",\"desc\":\"源库\"},{\"column\":\"sourceTable\",\"desc\":\"源表\"},{\"column\":\"targetSchema\",\"desc\":\"目标库\"},{\"column\":\"targetTable\",\"desc\":\"目标表\"}]",
    "componentCategory" : "normal",
    "parameterJson" : {
      "sourceTable" : "public.pa_op_registration_import",
      "targetTable" : "public.pa_op_registration",
      "mergeWay" : "default"
    },
    "desc" : "all",
    "flowType" : null
  } ]
}
