{
  "id":"${id}"
  "name": "${name}",
  "vendor": "${vendor}",
  "system": "${system}",
  "edition": "${edition}",
  "subVersion": "${subVersion}"
  "cron":"${cron}"
  "cronDesc":"${cronDesc}",
  "desc":"${desc}"
}
